.banner{    
    padding-bottom: 2rem;
    padding-top: 7rem;
    background-color: var(--verde-claro);
    flex-direction: column-reverse;
}

.banner__group{
    width: 100%;
}

.banner__img{
    width: 100%;
}

.banner__titulo{
    font:700 2.25rem var(--fonte-titulo);
    line-height: 2rem;
    margin-bottom: 2rem;
}

.banner__paragrafo{
    font: 700 var(--subtitulo-fonte-size) var(--font-corpo);
    
}

.lista--item{
    list-style: url('./check.png');
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.banner__button{
    color: var(--verde-escuro);
    background-color: white;
    transition: .3s;
}

.banner__button:hover{
    color: white;
    background-color: var(--verde-escuro);
}

@media (min-width: 968px) {
    .banner{
        padding-bottom: 2rem;
        flex-direction: row;
    }
    .banner__group--img{
        width: 100%;
        height: calc(100vh - 10rem);
        position: relative;
    }

    .banner__img{
        height: calc(100vh - 10rem);
    }
}